*{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    box-sizing: border-box;
}
body{
    background-color: rgb(165, 235, 231);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: palegoldenrod;
    width: 400px;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
}
.row{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px;
}
.row input{
    height: 50px;
    width: 50px;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(76, 252, 76);
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0px;
}
button{
    width: 50%;
    height: 45px;
    cursor: pointer;
    font-size: 18px;
    background: #8ddc8d;
    border-radius: 5px;
    border: none;
    /*color: white;*/
    margin-bottom: 20px;
}
button:hover{
    background-color: whitesmoke;
}
.active{
    background: #0099ff;
}